div.container {
  width: 100%;
  margin: auto;
}

#TableOfContents {
  width: 70%;
  margin: auto;
}

#TableOfContents > ul {
  list-style-type: none;
}

.intro-header.big-img {
  background-size: contain !important;
}
